description = "Graphic for About House"

[viewBag]
snippetCode = "about-house"
snippetName = "about-house"
==
<div class="house-wrapper">
    <div id="house" class="house-container">
        <div class="roof">
            <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M50,0 L 100,100 0,100 Z" vector-effect="non-scaling-stroke"/>
            </svg>
        </div>

        <div class="roof-text">
            Refugee Social Integration
        </div>
        <div class="circle-container text-center">
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>

            <div class="step-text right" id="step-text4">2nd academic year online:<br>courses for specific degree</div>
            <div class="step-text bottom" id="step-text5">Academic requirements needed</div>
            <div class="step-text left" id="step-text6">Degree in 3rd year at partner university</div>
            <div class="step-text left" id="step-text7">Job or back to home country</div>
            <div class="step-text left" id="step-text8">Reversed generation model</div>
            <div class="step-text top" id="step-text1">Register</div>
            <div class="step-text right" id="step-text2">1st academic year online:<br>general studies</div>
            <div class="step-text right" id="step-text3">Get academic requirements</div>
        </div>

        <div class="pillars">

            <ul>
                <li class="first">
                    <a class='normal ' href='#house' onclick="return false;">Blended<br>Learning</a>
                    <div class='info'>
                        <p>Combination of online and offline courses</p>
                        <p>Enabled through MOOCs and partner universities</p>
                    </div>
                </li>
                <li>
                    <a class='normal' href='#house' onclick="return false;">IT-<br>Infrastructure</a>
                    <div class='info'>
                        <p>Access to hard-ware, software and internet</p>
                        <p>Enabled own e-learning solutions or partnerships</p>
                    </div>
                </li>
                <li>
                    <a class='normal' href='#house' onclick="return false;">Language<br>support</a>
                    <div class='info'>
                        <p>Language courses in English and German</p>
                        <p>Enabled through plattform and cooperations with language schools</p>
                    </div>
                </li>

                <li>
                    <a class='normal' href='#house' onclick="return false;">Social<br>support</a>
                    <div class='info'>
                        <p>Psychosocial support and mentoring via Buddies and Coachs</p>
                        <p>Enabled through a platform to match with volunteers</p>
                    </div>
                </li>
                <li class="last">
                    <a class='normal' href='#house' onclick="return false;">Financing</a>
                    <div class='info'>
                        <p>Free education and support</p>
                        <p>Enabled through a sustainable business model</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row text-center blue-bg foundation">
            <div class="col-xs-6">Team</div>
            <div class="col-xs-4">Competence Pool</div>
            <div class="col-xs-6">Cooperations</div>
        </div>

    </div>
</div>
