description = "donate-de-foldown"

[viewBag]
snippetCode = "donate-de"
snippetName = "donate-de"
==
<h4>Jeder sollte Zugang zu Bildung haben. Kiron Open Higher Education gibt deswegen Flüchtlingen Zugang zu Hochschulbildung.</h4>

<div class="row">
<div class="col-xs-12">

<button class="btn btn-primary" style="margin-top:10px" data-toggle="collapse" data-target="#how-collapse">Wie funktioniert das?</button>
<div id="how-collapse" class="panel-collapse collapse">

<p style="margin-top:10px">
    Auf der Kiron-Plattform haben unsere Studenten Zugang zu einer großen Auswahl an Online-Kursen, die z.B. von Harvard, Stanford und der RWTH Aachen zur Verfügung gestellt werden. Unsere Studiengänge bestehen aus einer ein- bis zweijährigen Blended Learning-Phase (Online- und Offline-Elemente) bei Kiron, der zwei Jahre an einer unserer Partneruniversitäten folgen. 
</p>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">

<button class="btn btn-primary" style="margin-top:10px" data-toggle="collapse" data-target="#what-collapse">Was hat Kiron bisher erreicht?</button>

<div id="what-collapse" class="panel-collapse collapse">
<p style="margin-top:10px">
   Wir haben bereits 1250 Geflüchteten ermöglicht, mit Kiron zu studieren, seit wir unser Pilotsemester im letzten Oktober gestartet haben. Die Rückmeldungen, die wir bisher erhalten haben, waren überwältigend. Kashif, der mit Kiron Ingenieurwesen studiert, sagt: “Kiron ist Hoffnung. Kiron ist Hoffnung für viele Studenten. Und wir hoffen, dass es eines Tages die ganze Welt umfassen wird.”

</p>
</div>
</div>
</div>

<h4>
Mit einer monatlichen Spende von 25€ ermöglichst du ein Fünftel eines Stipendiums, damit ein Student mit Kiron studieren kann.
</h4>

<div class="row">
<div class="col-xs-12 col-sm-10 col-sm-offset-1">

<div id="betterplace_donation_iframe" style="background: transparent url('https://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat;">
  <a href="https://www.betterplace.org/de/organisations/25815-kiron-open-higher-education-ggmbh/donations/new" target="_blank"><button class="btn btn-action" style="margin-top:10px">Jetzt spenden!</button></a>
</div>
</div>
</div>