description = "donate-fr-iframe"

[viewBag]
snippetCode = "donate-fr-iframe"
snippetName = "donate-fr-iframe"
==
<style>
  #haWidgetCon{
    width:100%;
  }
  @media (min-width: 750px ) {
    #haWidgetCon{
      width:105%;
    }
  }
</style>
<div id="haWidgetCon">
<iframe id="haWidget"
src="https://www.helloasso.com/widgets/don.aspx?beneficiaire=kiron-france&urlEffectue=https://kiron.ngo/donate-merci-reffb&collecteur=la-rentree&type=ASSO&color=%232c31b8"
style="width:100%;height:750px;border:none;">
</iframe>
</div>
