description = "donate-fr-iframe"

[viewBag]
snippetCode = "donate-fr-iframe"
snippetName = "donate-fr-iframe"
==
<div class="row">
<div class="col-xs-12 col-sm-10">
<iframe id="haWidget"
src="https://www.helloasso.com/widgets/don.aspx?beneficiaire=kiron-france&urlEffectue=https%3A%2F%2Fkiron.ngo%2Fdonate-merci-reffb&collecteur=la-rentree&type=ASSO&color=%232c31b8" onload="window.scrollTo(0, ($('#haWidget').offset().top - 85));"
style="width:800px;height:750px;border:none;">
</iframe>
</div>
</div>
