description = "donate-fr-text"

[viewBag]
snippetCode = "donate-fr-text"
snippetName = "Donate FR text"
==
<div class="row">
<div class="col-xs-12">

<div style="text-align: center;" class="elastic-video">
<iframe  src="https://www.youtube.com/embed/Dx9RGzia6-k" frameborder="0" allowfullscreen></iframe>
</div>

<h4>L’éducation est un droit universel : grâce à votre don, cette année la rentrée scolaire sera aussi pour les réfugiés.</h4>



<button class="btn btn-primary" style="margin-top:10px" data-toggle="collapse" data-target="#how-collapse">Comment ça marche</button>
<div id="how-collapse" class="panel-collapse collapse">

<p style="margin-top:10px">
    Notre approche innovante combine un ou deux ans de cours en lignes (MOOCs) avec un ou deux ans au sein d’une de nos universités partenaires (le CNAM, Sciences Po). Les étudiants de Kiron ont accès à une plateforme d’enseignement en ligne développée par notre association. Nos partenariats avec des fournisseurs de MOOCs tels que France Université Numérique leur garantit un accès à des MOOCs d’universités internationalement reconnues comme Harvard ou la Sorbonne.
</p>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">

<button class="btn btn-primary" style="margin-top:10px" data-toggle="collapse" data-target="#what-collapse">Notre vision</button>

<div id="what-collapse" class="panel-collapse collapse">
<p style="margin-top:10px">
   Derrière le statut de réfugiés se trouvent des entrepreneurs, ingénieurs, et développeurs en herbe. Grâce à l’enseignement supérieur, ils peuvent reprendre leur futur en main et contribuer à leur nouvelle communauté d’accueil. En soutenant Kiron, vous soutenez des individus plein de promesses, et vous soutenez l’intégralité de la société française.

</p>
</div>
</div>
</div>

<h4>
Votre don sera directement affecté à l’éducation d’un ou une réfugié.e. De 5€ à 500€, toute contribution est appréciée! 
</h4>
<p>
<h4>
Un grand merci à nos donateurs: 5000€ en 5 jours - Déjà 5 étudiants dont la rentrée est garantie. Encore 35 jours pour atteindre notre objectif de 25 000€ et permettre à 20 autres réfugiés de recommencer leurs études en France!
</h4>
</p>