description = "donate-en-foldown"

[viewBag]
==
<h4>Everyone should have access to education. Kiron Open Higher Education therefore gives refugees access to higher education.</h4>

<div class="row">
<div class="col-xs-12">

<button class="btn btn-primary" style="margin-top:10px" data-toggle="collapse" data-target="#how-collapse">How does it work?</button>
<div id="how-collapse" class="panel-collapse collapse">

<p style="margin-top:10px">
    On the Kiron platform, our students have access to the wide world of online courses, provided by e.g. Harvard, Stanford or RWTH Aachen in Germany. Our degree program consists of a 1- to 2-year blended learning (online and offline elements)  phase at Kiron followed by a 2-year offline phase at one of our partner universities.
</p>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">

<button class="btn btn-primary" style="margin-top:10px" data-toggle="collapse" data-target="#what-collapse">What has Kiron achieved so far?</button>

<div id="what-collapse" class="panel-collapse collapse">
<p style="margin-top:10px">
   We already empowered 1250 refugees to become students since we started our pilot semester last October. The feedback we've received so far has been overwhelming. Kashif, studying Engineering at Kiron, says: “Kiron is hope. Kiron is hope for a lot of students. And we hope for the best, that one day, it will grasp the whole globe and it will globalize.”
</p>
</div>
</div>
</div>

<h4>
With a contribution of 25€ a month you enable one fifth of a scholarship for a student to study with Kiron.
</h4>

<div class="row">
<div class="col-xs-12 col-sm-10 col-sm-offset-1">

<div id="betterplace_donation_iframe" style="background: transparent url('https://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat;">
  <a href="https://www.betterplace.org/en/organisations/25815-kiron-open-higher-education-ggmbh/donations/new" target="_blank"><button class="btn btn-action" style="margin-top:10px">Donate Now!</button></a>
</div>
</div>
</div>
