description = "flags-donate"

[viewBag]
snippetCode = "flags-donate"
snippetName = "flags-donate"
==
<div class="row">

<div class="col-xs-4 col-sm-2 col-sm-offset-6">
    <a href='/donate-fr'> 
        <img src="/storage/app/media/flags/fr.png" alt="Faire un don!" 
             style="margin-left:0px;display: block; width:auto!important;height:40px;"> 
    </a>
</div>

<div class="col-xs-4 col-sm-2">
    <a href='/donate-de'>
        <img src="/storage/app/media/flags/de.png" alt="Jetzt Spenden!" 
                style="margin-left:0px;display: block; width:auto!important; height:40px;"> 
    </a>
</div>
<div class="col-xs-4 col-sm-2">
    <a href='/donate-en'> 
        <img src="/storage/app/media/flags/eng.png" alt="Donate!" 
             style="margin-left:0px;display: block; width:auto!important; height:40px;"> 
    </a>
</div>

</div>