[viewBag]

[SubscribeForm]
==
<footer>

    <div id="social-media-container">
        <ul class="nav nav-pills">
        <li>

            <a href="https://www.facebook.com/KironOpenHigherEducation" target="_blank"><i class="icon icon-facebook"></i></a>
        </li>
        <li >
            <a href="https://twitter.com/KironEducation" target="_blank"><i class="icon icon-twitter"></i></a>
        </li>
                    <li>
            <a href="https://plus.google.com/+KironUniversityOfficial" target="_blank"><i class="icon icon-google-plus"></i></a>
        </li>
        <li >
            <a href="http://www.youtube.com/channel/UCQCSBhI-84Saf58xjUkHoYw" target="_blank"><i class="icon icon-youtube"></i></a>
        </li>
        </ul>
    </div>

        {% component 'SubscribeForm' %}

    <div class="container">
        
      <img src="kiron-Logo-UNI-White.svg" alt="Kiron OHE"
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                Kiron Open Higher Education gGmbH
              </div>
              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                <a href="/contact" id="impressum-link" class="contact-link">Jobs</a><br />
              </div>
              </div>
              <div class="row">

              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                Palais am Festungsgraben
              </div>
              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                <a href="/contact" id="impressum-link" class="contact-link">Donate</a><br />
              </div>
              </div>
              <div class="row">

              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                Am Festungsgraben 1
              </div>
              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                <a href="/contact" id="impressum-link" class="contact-link">Legal</a><br />
              </div>

              </div>
              <div class="row">

              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                10117 Berlin
              </div>
              <div class="col-xs-4 col-xs-offset-1 col-sm-5">
                <a href="/contact" id="impressum-link" class="contact-link">Press</a><br />
              </div>
            </div>

            </div>
        </div>
    </div>
</footer>



<!-- /container -->