[viewBag]
==
<footer>

    <div id="social-media-container" class="no-js">
        <ul class="nav nav-pills">
        <li>

            <a href="https://www.facebook.com/KironOpenHigherEducation" target="_blank"><i class="icon icon-facebook"></i></a>
        </li>
        <li >
            <a href="https://twitter.com/KironEducation" target="_blank"><i class="icon icon-twitter"></i></a>
        </li>
                    <li>
            <a href="https://plus.google.com/+KironUniversityOfficial" target="_blank"><i class="icon icon-google-plus"></i></a>
        </li>
        <li >
            <a href="http://www.youtube.com/channel/UCQCSBhI-84Saf58xjUkHoYw" target="_blank"><i class="icon icon-youtube"></i></a>
        </li>
        </ul>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="/storage/app/media/kiron-logos/kiron-Logo-UNI-White.svg" alt="Kiron OHE" class='logo' />
            </div>
            <div class='col-sm-4'>
                <p class="footer">
                  Kiron Open Higher Education gGmbH</br>
                  Palais am Festungsgraben</br>
                  Am Festungsgraben 1</br>
                  10117 Berlin</br>
                </p>

            </div>
            <div class='col-sm-2'>
              <p class="footer">
                    <a href="/support" id="impressum-link1" class="contact-link">Get Involved</a></br>
                    <a href="/donate-en" id="impressum-link2" class="contact-link">Donate</a></br>
                    <a href="/contact" id="impressum-link3" class="contact-link">Legal</a></br>
                    <a href="/contact" id="impressum-link4" class="contact-link">Press</a></br>
              </p>
            </div> <!-- col -->

        </div><!-- row -->

    </div> <!-- container -->
</footer>



<!-- /container -->
