[viewBag]
==
<footer>

    <div id="social-media-container">
        <ul class="nav nav-pills">
        <li>

            <a href="https://www.facebook.com/KironOpenHigherEducation" target="_blank"><i class="icon icon-facebook"></i></a>
        </li>
        <li >
            <a href="https://twitter.com/KironEducation" target="_blank"><i class="icon icon-twitter"></i></a>
        </li>
                    <li>
            <a href="https://plus.google.com/+KironUniversityOfficial" target="_blank"><i class="icon icon-google-plus"></i></a>
        </li>
        <li >
            <a href="http://www.youtube.com/channel/UCQCSBhI-84Saf58xjUkHoYw" target="_blank"><i class="icon icon-youtube"></i></a>
        </li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                &copy; 2015 <strong>Kiron</strong>
            </div>
            <div id="impressum-container" class="col-sm-5 col-sm-offset-3">
                <a href="/contact" id="impressum-link" class="contact-link">Contact & Imprint</a>
            </div>
        </div>
    </div>
</footer>



<!-- /container -->
