[viewBag]
==
<ul class="{{ class }}">
    {% for item in items %}
        <li
            class="{{ item.isActive or item.isChildActive ? 'active' : '' }} {{ item.items ? '' : '' }}"
        >
            <a
                href="{{ item.url }}"
            >
                {{ item.title }}

            </a>

        </li>
    {% endfor %}
          <li class='special-cta'><a href='/study/apply-admission'>Apply</a></li>
          <li class='special-cta'><a href='/donate-en'>Donate</a></li>
</ul>
