[viewBag]

[SeoStaticPage]
==
{% if post %}

    {% placeholder meta %}
    {% if post.seo_title %}
        <meta property="og:title"		content="{{ post.seo_title | generateTitle}}" />

    {% else %}
        <meta property="og:title"		content="{{ post.title | generateTitle }}" />
    {% endif %}


    {% if post.seo_description %}
        <meta property="og:description"		content="{{post.seo_description}}" />
    {% endif %}

    {% if post.featured_images[0] %}
        <meta property="og:image"		content="{{post.featured_images[0].path | app}}" />
    {% endif %}




{% else %}

    {% if SeoCmsPage.redirect_url %}
        <meta http-equiv="refresh" content="0; url={{SeoCmsPage.redirect_url}}" />
    {% endif %}

    {% if SeoCmsPage.seo_title %}
        <title>{{SeoCmsPage.seo_title | generateTitle}}</title>
    {% endif %}

    {% if SeoCmsPage.seo_description %}
        <meta name="description" content="{{SeoCmsPage.seo_description}}">
    {% endif %}

    {% if SeoStaticPage.redirect_url %}
        <meta http-equiv="refresh" content="0; url={{SeoStaticPage.redirect_url}}" />
    {% endif %}

    {% if SeoStaticPage.seo_title %}
        <title>{{SeoStaticPage.seo_title | generateTitle }}</title>
    {% else %}
        <title>{{ SeoStaticPage.title | generateTitle }}</title>
    {% endif %}

    {% if SeoStaticPage.seo_description %}
        <meta name="description" content="{{SeoStaticPage.seo_description}}">
    {% endif %}

    <meta property="og:title"		content="Kiron" />
    <meta property="og:image"		content="http://kiron.ngo/img/favicon/kiron-new.jpg" />
	<meta property="og:image:type"		content="image/jpg" />
	<meta property="og:image:width"		content="350" />
	<meta property="og:image:height"	content="350" />
	<meta property="og:url"			content="http://kiron.ngo/" />
	<meta property="og:description"		content="Social startup providing higher education to refugees" />

{% endif %}
    {% if SeoCmsPage.seo_keywords %}
        <meta name="keywords" content="{{SeoCmsPage.seo_keywords}}">
    {% elseif SeoStaticPage.seo_keywords %}
        <meta name="keywords" content="{{SeoStaticPage.seo_keywords}}">
    {% else %}
        <meta name="keywords"			content="free, higher education, refugees" />
    {% endif %}


	<!-- OPEN GRAPH -->
	<meta property="og:locale"		content="de_DE" />
	<meta property="og:site_name"	content="Kiron" />
	<meta property="og:type"		content="website" />
	<meta property="fb:page_id"		content="972194662813830" />
	<meta property="fb:admins"		content="1396433901,1378231674,100001367045138" />


    <!-- SEO OPTIMISATION -->
	<meta name="description"		content="Social startup providing higher education to refugees" />
	<meta name="author"			content="https://www.facebook.com/KironOpenHigherEducation" />
	<link rel="author" href="https://plus.google.com/+KironUniversityOfficial?rel=author" />
	<meta name="publisher"			content="https://plus.google.com/+KironUniversityOfficial" />
	<meta name="robots"			content="index,follow,noodp,noydir" />

	<!-- Kiron -->
	<meta name="abstract"			content="Social startup providing higher education to refugees" />
	<meta name="page-type"			content="website" />
	<meta name="page-topic"			content="education" />
	<meta name="copyright"			content="Kiron Open Higher Education gGmbH" />
	<meta name="audience"			content="refugees,students" />
	<meta name="page-topic"			content="free learning" />
	<meta name="siteinfo"			content="http://kiron.ngo/robots.txt" />



	<!-- RICH SNIPPETS -->
	<meta itemprop="description"		content="Free online university for refugees" />
	<meta itemprop="url"			content="http://kiron.ngo/" />
	<meta itemprop="logo"			content="http://kiron.ngo/img/favicon/kiron-new.jpg" />
	<meta itemprop="sameAs"			content="https://www.facebook.com/KironOpenHigherEducation" />
	<meta itemprop="sameAs"			content="https://plus.google.com/+KironUniversityOfficial" />
	<meta itemprop="sameAs"			content="https://twitter.com/KironUniversity" />
	<meta itemprop="sameAs"			content="http://www.youtube.com/channel/UCQCSBhI-84Saf58xjUkHoYw" />
	<meta itemprop="sameAs"			content="https://www.pinterest.com/kironuniversity/" />
	<meta itemprop="potentialAction" 	content="free learning" />

	<!-- TWITTER CARDS -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@KironEducation" />
	<meta name="twitter:creator" content="@KironEducation" />
	<meta name="twitter:title" content="Kiron" />
	<meta name="twitter:description" content="Kiron" />
	<meta name="twitter:image:src" content="http://kiron.ngo/img/favicon/kiron-new.jpg" />

	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png?v=Ommrq2j3a7">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png?v=Ommrq2j3a7">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png?v=Ommrq2j3a7" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-194x194.png?v=Ommrq2j3a7" sizes="194x194">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png?v=Ommrq2j3a7" sizes="96x96">
	<link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png?v=Ommrq2j3a7" sizes="192x192">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png?v=Ommrq2j3a7" sizes="16x16">
	<link rel="manifest" href="/img/favicon/manifest.json?v=Ommrq2j3a7">
	<link rel="shortcut icon" href="/img/favicon/favicon.ico?v=Ommrq2j3a7">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png?v=Ommrq2j3a7">
	<meta name="msapplication-config" content="/img/favicon/browserconfig.xml?v=Ommrq2j3a7">
	<meta name="theme-color" content="#ffffff">

	<!-- DOMAIN VALIDATION -->
	<meta name="p:domain_verify" content="4010875139aab9d520b31552ff43be3f"/>
	<meta name="google-site-verification" content="PQv9Y7vLLj0TIv5ruqER53CQp4KnwBsO3BHqUA2KpZc" />
	<meta name="msvalidate.01" content="4C196F8169B7A565E9641AA745F257E4" />
