[viewBag]
==
<div id="social-media-container-vertical" class="hide-js">
    <ul class="nav nav-pills-vertical">
        <li>

            <a href="https://www.facebook.com/KironOpenHigherEducation" target="_blank"><i class="icon icon-facebook"></i></a>
        </li>
        <li >
            <a href="https://twitter.com/KironEducation" target="_blank"><i class="icon icon-twitter"></i></a>
        </li>
                    <li>
            <a href="https://plus.google.com/+KironUniversityOfficial" target="_blank"><i class="icon icon-google-plus"></i></a>
        </li>
        <li >
            <a href="http://www.youtube.com/channel/UCQCSBhI-84Saf58xjUkHoYw" target="_blank"><i class="icon icon-youtube"></i></a>
        </li>
    </ul>
</div>
