description = "partner-logo-page"

[staticMenu]
code = "new-top"

[staticPage]

[SubscribeForm]
==
{variable name="titleText" label="Title" tab="Header" type="text"}{/variable}


{% partial 'start' %}

<div class="wrapper" style="min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em;">

{% partial "static-topmenu" %}

<main class="container">
  <div class="row">

     <div class="col-md-2"></div>
     <div class="col-md-8">
        
      <h1>{{titleText}}</h1>

      {% page %}

      <div class="row">
        {repeater name="logos" prompt="Add another Logo"}


       <div style="margin-top:60px;margin-left:20px;margin-right:30px;" class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

        <img src="
            {mediafinder name="logo" label="Logo"}{/mediafinder}
        "/>
        {%if loop.index is even %}
          </div><div class="row">
         {% endif %}

        </div>
        {/repeater}
       </div>

    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div style="padding-top:160px;"></div>

  </div>
</main>

<!-- Share bar -->
{% partial "sharebar" %}
{% component 'SubscribeForm' %}
<!-- Footer -->
{% partial "footer" %}

{% partial "end" %}