description = "The Layout for the start page"

[StartNewsList]

[staticPage]

[staticMenu]
code = "new-top"

[Newslist]

[SubscribeForm]

[SubscribeForm SubscribeForm2]
==
{##}
{% partial 'start' start="true" %}

{% partial "static-topmenu" %}

<!-- Content -->


<div class="jumbotron">
    <div id="splash-carousel" class="carousel slide" data-ride="carousel" data-interval="6000" data-wrap="true" data-pause="true">

      <ol class="carousel-indicators">
         <li data-target="#splash-carousel" data-slide-to="0" class="active"></li>
         <li data-target="#splash-carousel" data-slide-to="1"></li>
         <li data-target="#splash-carousel" data-slide-to="2"></li>
       </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div id="bg1" class="item active">
              <div class="overlay">
                <div class="headings">
                <img alt="Kiron Open Higher Education" title="Kiron Open Higher Education" src="/img/kir-slider-kiron-open-higher-education@2x.png">
                <p>World-Class Education For Refugees<br class="hidden-xs">&nbsp;<br class="hidden-xs">&nbsp;</p>
              </div>
            </div>
            </div>
            <div id="bg2" class="item">
              <div class="overlay">
                <div class="headings">
                <img alt="Kiron" title="Kiron" src="/img/kir-slider-kiron@2x.png">
                <p>An educational eco-system for already<br class="hidden-xs">1,200 displaced people
                by combining<br class="hidden-xs">online and offline elements.</p>
              </div>
            </div>
          </div>
            <div id="bg3" class="item">
              <div class="overlay">
                <div class="headings">
                <img alt="Kiron" title="Kiron" src="/img/schoepflinstiftung_logo@2x.png">
                <p>
                  A strong partner on our side:<br class="hidden-xs">
                  Schöpflin Foundation enables us to give<br class="hidden-xs">5,000 new students a perspective.
                </p>
              </div>
            </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#splash-carousel" role="button" data-slide="prev">
          <img class="glyphicon glyphicon-chevron-left hidden-xs" aria-hidden="true" alt="prev" src="/img/kir-arrow-left.png"/>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#splash-carousel" role="button" data-slide="next">
          <img class="glyphicon glyphicon-chevron-right hidden-xs" aria-hidden="true" alt="next" src="/img/kir-arrow-right.png"/>
          <span class="sr-only">Next</span>
        </a>
      </div>


<!-- end jumbotron -->
</div>

  
</div>
</div>

<!--
<div class="clearfix"></div>
<div style="padding-top:100px;" class="visible-xs"></div>
-->


{% partial "sharebar" %}

<!-- Footer -->

{% component 'SubscribeForm2' %}
{% partial "footer" %}

{% partial 'end' %}